<!DOCTYPE html>
<html>
<head>  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">  
    {% if title %}
        <title>HOQU - {{ title }}</title>
    {% else %}
        <title>HOQU</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-header fixed-top">
        <div class="container">
          <a href="/">HOQU</a>
          <button  type="button">
            <span></span>
          </button>
          <div class="navbar-nav mr-auto">
            <div>
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            </div>
           
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div >
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
       
</body>
</html>
